<% if user.avatar_image.present? %>
    <%= image_tag user.avatar_image.url, class:"img-fluid circle", alt: "画像が表示できません", size: "300x240" %>
<% else %>
    <%= image_tag "no_image.jpg", class:"", alt: "画像が表示できません", size: "300x240" %>
<% end %>
<p style="font-size: 26px;"><%= user.name %></p>
<div class="mb-3">
    <span><%= user.follow.count %><%= link_to "フォロー", users_path(follow_or_follower: "follow"), class: "text-decoration-none" %></span>
    <span><%= user.follower.count %><%= link_to "フォロワー", users_path(follow_or_follower: "follower"), class: "text-decoration-none" %></span>
</div>
<p><%= link_to "編集", edit_user_path(1), class: "btn btn-primary", style: "width: 40%" %></p>
<p><%= link_to "ログアウト", users_logout_path, method: :post, class: "btn btn-danger", style: "width: 40%;" %></p>

