var userInfo = document.getElementById("userInfo");
<% if @current_user == @user %> // showページのユーザーがログインユーザーだったとき
    userInfo.innerHTML = `
        <span style="margin-right: 20px;">投稿<%=@current_user.proteins.count%>件</span>
        <span class="pointer" style="margin-right: 20px;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">フォロワー<%=@current_user.follower.count%>人</span>
        <span class="pointer" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">フォロー中<%=@current_user.follow.count%>人</span>
    `;
<% end %>

if (document.getElementById("follower<%=@user_id%>") != null) { //フォロワー一覧画面にいるかどうか
    var td = document.getElementById("follower<%=@user_id%>")
    td.innerHTML = '<%= link_to "フォロー中", relations_unfollow_path(@user_id, page_user_id: @user.id), class: "btn btn-primary", remote: true, method: :post %>';
}

if (document.getElementById("follow<%=@user_id%>") != null) { //フォロー一覧画面にいるかどうか
    var td = document.getElementById("follow<%=@user_id%>")
    td.innerHTML = '<%= link_to "フォロー中", relations_unfollow_path(@user_id, page_user_id: @user.id), class: "btn btn-primary", remote: true, method: :post %>';
} else {
    <% if @current_user == @user %>
        var follow_user = document.getElementById("follow_user");
        follow_user.innerHTML = '<%= j(render "templetes/follow_follower", users: @current_user.follow_user, follow_or_follower: false) %> '
    <% end %>
}


