<div class="container">
    <div class="row">
        <div class="col-lg-4 text-center my-5" id="userInfo">
            <%= render "templetes/user_show", user: @current_user %>
        </div>
        <div class="col-lg-8 mt-5 text-center">
            <% if @follow_or_follower == "follow" %>
                <h3>フォロー一覧</h3>
            <% else %>
                <h3>フォロワー一覧</h3>
            <% end %>
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @num = 1 %>
                    <% @users.each do |user| %>
                        <tr>
                            <th scope="row" style="text-align: left;">
                                <% if user.avatar_image.present? %>
                                    <%= image_tag user.avatar_image.url, alt: "画像が表示できません", size: "50x50" %>
                                <% else %>
                                    <%= image_tag "no_image.jpg", alt: "画像が表示できません", size: "50x50" %>
                                <% end %>
                            </th>
                            <td style="text-align: left;">
                                <%= user.name %>
                                <% if @follow_or_follower == "follow" && @current_user.followed?(user.id) %>
                                    <span style="color: cadetblue; font-size: 10px;">フォローされています</span>
                                <% end %>
                            </td>
                            <td style="text-align: left;">
                                投稿数: <%= user.proteins.length %>
                            </td>
                            <td id="td<%=@num%>" style="width: 150px;">
                                <% if @current_user.follow?(user.id) %>
                                    <%= link_to "フォロー中", relations_unfollow_path(user.id, num: @num), class: "btn btn-primary", remote: true, method: :post %>                       
                                <% else %>
                                    <%= link_to "フォローする", relations_follow_path(user.id, num: @num), class: "btn btn-info", remote: true, method: :post %>
                                <% end %>
                            </td>
                        </tr>
                        <% @num+=1 %>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>

</div>