<div class="border-bottom border-secondary mt-3">
    <div class="container">
        <div class="row">
    
            <!-- col-lg-3 -->
            <div class="col-lg-3 text-center" style="height: 350px;">
                <div class="btn-group mt-5">
                    <div type="button" class="dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <% if @user.avatar_image.present? %>
                            <%= image_tag @user.avatar_image.url, class:"img-fluid circle", alt: "画像が表示できません", style: "width: 250px; height: 250px;" %>
                        <% else %>
                            <%= image_tag "no_image.jpg", class:"", alt: "画像が表示できません", style: "width: 250px; height: 200px;"  %>
                        <% end %>
                    </div>
                    <ul class="dropdown-menu" style="">
                        <li class="dropdown-item pointer" id="changeImg">画像を変更</li>
                        <% if @user.avatar_image.present? %>
                            <li><%= link_to "画像を削除", users_destroy_image_path, method: :post, class: "dropdown-item", data: { confirm: "本当に削除してよろしいですか？" } %></li>
                        <% end %>
                    </ul>
                    <div>
                        <%= form_with(model: @current_user, class: "display_none") do |f| %>
                            <%= f.file_field :avatar_image, accept:"image/*", id: "userImgForm"%>
                            <%= f.submit "登録", id: "submitBtn" %>
                        <% end %>
                    </div>
                </div>
            </div>
            <!-- col-lg-3ここまで -->
    
            <!-- col-lg-9 -->
            <div class="col-lg-9" style="height: 350px;">
                <div class="text-center mt-5">
                    <h2 class="inline" style="font-weight: bold;"><%=@user.name%></h2><span class="btn btn-primary" style="margin-left: 150px;">フォローする</span>
                </div>
                <div class="text-center mt-2" id="userInfo">
                    <span style="margin-right: 20px;">投稿<%=@user.proteins.count%>件</span>
                    <span class="pointer" style="margin-right: 20px;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">フォロワー<%=@user.follower.count%>人</span>
                    <span class="pointer" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">フォロー中<%=@user.follow.count%>人</span>
                </div>
                <div class="mt-3" style="height: 150px;">
                        紹介自己紹
                </div>
            </div>
            <!-- col-lg-9ここまで -->
    
        </div>
    </div>
</div>

<div class="bg-light" id="target">
    <p class="text-center">投稿一覧</p>
    <div class="bg-secondar text-center container">
        <%= render "templetes/protein_index" %>
    </div>
</div>


<!-- Modal フォローフォロワー一覧表示 -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">フォロワー</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="follower_user">
                <%= render "templetes/follow_follower", users: @follower_users, follow_or_follower: true %> <!-- follow画面ならtrue,follower画面ならfalse -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">フォロー</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="follow_user"> 
            <%= render "templetes/follow_follower", users: @follow_users, follow_or_follower: false %>
        </div>
        </div>
    </div>
</div>



<%= javascript_pack_tag 'userImg.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag "adjustHeight.js", 'data-turbolinks-track': 'reload' %>