<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <%= render "templetes/user_show", user: @current_user %>
        </div>
        <div class="col-lg-8">
            <h1>投稿したプロテイン</h1>
            <% @proteins.each do |protein| %>
                <div class="card inline" style="width: 18rem;">
                    <% if protein.protein_images[0].present? %>
                        <%= image_tag protein.protein_images[0].url, class: "card-img-top", style: "height: 230px;" %>
                    <% else %>
                        <%= image_tag "no_image2.jpg", class: "card-img-top", style: "height: 230px;" %>
                    <% end %>
                    <div class="card-body">
                        <h5 class="card-title"><%= protein.name %></h5>
                        <p class="card-text"><%= protein.feature %></p>
                        <%= link_to "詳細はこちら", protein_path(protein.id), class: "btn btn-primary" %>
                        <%= link_to "編集する", edit_protein_path(protein.id), class: "btn btn-info" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>