<!DOCTYPE html>
<html>
    <head>
        <title>Myapp</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= include_gon %>

        <link rel="canonical" href="https://getbootstrap.jp/docs/5.0/examples/carousel/">

        <!-- bootstrap導入 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!-- bootstrapアイコン導入 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
        
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <header>
        <div id="d"></div>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
            <div class="container-fluid">
            <%= link_to "Mypro", root_path, class: "navbar-brand" %>
            <button class="navbar-toggler" id="navbarBotton" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <% if @current_user.present? %>
                    <li class="nav-item">
                    <%= link_to "みんなのプロテイン", proteins_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">お気に入り</a>
                    </li>
                    <li class="nav-item">
                    <%= link_to "マイページ", user_path(1), class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                    <%= link_to "投稿する", new_protein_path, class: "nav-link" %>
                    </li>                           
                <% else %>
                    <li class="nav-item">
                    <a class="nav-link" href="#">みんなのプロテイン</a>
                    </li>
                    <li class="nav-item">
                    <%= link_to "ログイン", login_path, class: "nav-link", tabindex: "-1" %> 
                    </li>
                <% end %>
                </ul>
                <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="検索" aria-label="Search">
                <button class="btn btn-success" type="submit" style="width: 75px;">検索</button>
                </form>
            </div>
            </div>
        </nav>
        </header>
        <div style="margin-top: 85px;">
        <% if flash[:notice] %>
            <div class="alert alert-info text-center my-0" role="alert" style="height: 47px;">
            <%= flash[:notice] %>
            </div>
        <% end %>
        <%= yield %>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
